# Virtual envs.
venv/
.venv/

# Distribution/packaging
dist/
build/
*.egg-info/

__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Generated folders from examples
*.pth
examples/**/runs
examples/**/chkpt
examples/**/logs
examples/**/data
