[build-system]
requires = ["setuptools", "setuptools-scm"]
build-backend = "setuptools.build_meta"

[project]
name = "pyro-ml"
authors = [{name = "Mauricio A. Rovira Galvez"}]
description = "A Torch-based package for training AI networks"
requires-python = ">= 3.11"
dependencies = [
    "tqdm==4.66.2",
    "opencv-python==4.9.0.80",
    "tensorboard==2.16.2",
    "torch==2.2.1",
    "torchvision==0.17.1",
    "onnx==1.16.0",
    "onnxruntime==1.17.1",
    'onnxscript==0.1.0.dev20240327; platform_system != "Windows"'
]

dynamic = ["version", "readme"]

[project.optional-dependencies]
dev = [
    "mypy==1.8.0",
    "ruff==0.3.4",
    "pytest==8.1.1",
    "pre-commit==3.6.2",
    "types-Pillow==10.2.0.20240311"
]

ci = [
    "mypy==1.8.0",
    "ruff==0.3.4",
    "pytest==8.1.1",
    "types-Pillow==10.2.0.20240311"
]

[tool.setuptools_scm]

[tool.setuptools.packages.find]
where = ["src"]

[tool.setuptools.dynamic]
readme = {file = ["README.md"]}

[tool.setuptools.package-data]
pkgname = ["py.typed"]

[project.urls]
Homepage = "https://github.com/marovira/pyro-ml"
Issues = "https://github.com/marovira/pyro-ml/issues"

[tool.mypy]
warn_unused_configs = true

[[tool.mypy.overrides]]
module = "torchvision.*"
ignore_missing_imports = true

[tool.ruff]
target-version = "py311"
line-length = 90
indent-width = 4
src = ["src"]

[tool.ruff.lint]
select = [
    "E",
    "F",
    "UP",
    "B",
    "SIM",
    "I",
    "D",
    "N",
    "A",
    "C4",
    "T10",
    "ICN",
    "PIE",
    "SLF",
    "PTH",
    "ERA",
    "NPY",
    "RUF100",
]

ignore = [
    "D100", # Module docstring.
    "N806", # Variable names should be lower-case.
    "N802", # Function name should be lower-case.
    "N812", # Imported lower-case as non-lower-case.
]

fixable = ["I", "D200", "D201", "D202", "D205", "RUF100"]
extend-safe-fixes = ["D200", "D205"]
unfixable = []

[tool.ruff.lint.per-file-ignores]
"test/*" = ["D"]

[tool.ruff.lint.pydocstyle]
convention = "pep257"

[tool.ruff.format]
line-ending = "lf"

[tool.pytest.ini_options]
testpaths = "test"
addopts = [
    "--import-mode=importlib"
]
