name: "Publish"

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/project/helios-ml
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        id: setup_python
        with:
          python-version: "3.12"

      - name: Cache virtualenv
        uses: actions/cache@v4
        with:
          key: venv_ubuntu-latest_py-${{ steps.setup_python.outputs.python-version}}_${{ hashFiles('requirements/ci.txt') }}
          path: venv

      - name: Install dependencies
        run: |
          python -m venv venv
          source venv/bin/activate
          python -m pip install -r requirements/ci.txt
          echo "$VIRTUAL_ENV/bin" >> $GITHUB_PATH
          echo "VIRTUAL_ENV=$VIRTUAL_ENV" >> $GITHUB_ENV

      - name: Build Helios
        run: |
          python -m build
      - name: Publish Helios
        uses: pypa/gh-action-pypi-publish@release/v1
  docs:
    needs: publish
    uses: ./.github/workflows/docs.yml
